<form class="ui form" id="register-dog">
    <div class="field">
        <label>Nombre</label>
        <input type="text" name="name">
    </div>
    <button class="ui primary button" type="submit">Registrar</button>
</form>